<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>if students</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
    <table>
        <thead>
            <th>
                <td>name</td>
                <td>role</td>
            </th>
        </thead>
        <tbody>
            <tr th:each = "student : ${students}">
                <td th:text = "${student.firstName}"></td>
                <td th:text = "${student.role}"></td>
                <td class = "btn btn-primary" th:if = "${'ADMIN' == student.role}">Update</td>
                <td class = "btn btn-danger" th:if = "${'ADMIN' == student.role}">Delete</td>
                <td class = "btn btn-primary" th:unless = "${'ADMIN' == student.role}">View</td>
            </tr>
        </tbody>
    </table>
</body>
</html>